@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Tiempos;
    src: url(./fonts/tiempos-headline-light.woff2);
  }

html,body{
    font-size:16px;
}
@layer components {
.container {
    max-width:100vw;
    width:100vw;
    padding: 0 5vw;
}
}
section{
    max-width:1380px;
    width:100%;
    padding:0 5vw 5vw;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:5%;
 /*   margin-bottom:6vw;*/
    height:auto;
    margin:auto;
}
section>.card {
    flex: 1 1 31%;
}

@media( min-width: 768px ){
    section{
        flex-direction:row;
        row-gap: 1.5vw;
        column-gap:3vw;
        padding: 0 5vw;
    }
    section>.card {
        flex: 1 1 47%;
    }
}
@media( min-width: 1024px ){
    section{
        flex-direction:row;
        row-gap: 1.5vw;
        column-gap:3vw;
    }
    section>.card {
        flex: 1 1 30.33%;
    }
}
.image{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
}
.image-wrapper{
    @apply aspect-golden;
}
.card-wrapper:nth-child(4) .image-wrapper,.card-wrapper:nth-child(5) .image-wrapper{
    @apply aspect-rev-golden;
}
blockquote{
    position: relative;
    font-size: 2rem !important;
    font-weight:600 !important;
    font-style:normal !important;
    line-height:1.15 !important;
    padding-right: 0 !important;
    padding-left: 72px !important;
    margin-top: 48px !important;
    margin-bottom: 48px !important;
    color: inherit;
    letter-spacing: 0.038 !important;
    border:none !important;
}
blockquote:before{
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0;
    width: 45px;
    height: 35px;
    background-image: url('data:image/svg+xml,%3Csvg width="45" height="35" viewBox="0 0 45 35" opacity="0.3" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.656 0.223991C19.2773 5.08799 20.088 10.1227 20.088 15.328C20.088 21.216 18.552 25.952 15.48 29.536C12.4933 33.0347 8.09867 34.784 2.296 34.784V26.592C6.73333 26.592 8.952 23.7333 8.952 18.016V15.968H0.888V0.223991H17.656ZM41.848 0.223991C43.64 5.59999 44.536 10.6347 44.536 15.328C44.536 21.216 43 25.952 39.928 29.536C36.856 33.0347 32.376 34.784 26.488 34.784V26.592C31.0107 26.592 33.272 23.7333 33.272 18.016V15.968H25.08V0.223991H41.848Z" fill="%23999999"/%3E%3C/svg%3E%0A')
}
blockquote cite{
    display: block;
    color:#a3a3a3;
    font-style: normal;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
}
blockquote p:before, blockquote p:after{
    content: "" !important;
}
.tag{
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 0;
    padding: var(--space-2) var(--space-3);
    text-decoration: none;
    max-width:fit-content;
    max-height:fit-content;
    padding: 14px;
    margin-left:14px;
    background:yellow;
    color:black;
}
input{
    -webkit-appearance: none;
    text-align:center;
    font-size: 0.75rem;
    color:#aaaaaa;
}

input:focus{
    -webkit-appearance: none;
    outline:none;
    border:none;
}
