---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Featured from '../components/Featured.astro';
import Highlight from '../components/Highlight.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('posts');
---

<Layout title="pugburps">
<div>
	<section class="bg-gray-100">
		{blogEntries.map(post =>
			<h1>{post.data.content}</h1>
		)}
	<Featured />
		</section>
	<section>
	    <Card title="A cool Rob card for his blog site" desc="Behold the marvel and wonder that is Rob's coding" image="http://picsum.photos/600/400" date="May 14, 1971" author="Rob Davis"/>
		<Card title="A cool Rob card for his blog site" desc="Behold the marvel and wonder that is Rob's coding" image="http://picsum.photos/600/400" date="May 14, 1971" author="Rob Davis"/>
		<Card title="A cool Rob card for his blog site" desc="Behold the marvel and wonder that is Rob's coding" image="http://picsum.photos/600/400" date="May 14, 1971" author="Rob Davis"/>
		<Card title="A cool Rob card for his blog site" desc="Behold the marvel and wonder that is Rob's coding" image="http://picsum.photos/600/400" date="May 14, 1971" author="Rob Davis"/>
		<Card title="A cool Rob card for his blog site" desc="Behold the marvel and wonder that is Rob's coding" image="http://picsum.photos/600/400" date="May 14, 1971" author="Rob Davis"/>
		<Card title="A cool Rob card for his blog site" desc="Behold the marvel and wonder that is Rob's coding" image="http://picsum.photos/600/400" date="May 14, 1971" author="Rob Davis"/>

	</section>
	<section>
	<Highlight />
	</section>


</Layout>
