---

---
<section class="mb-0 py-[2.5vw] bg-white">
<div class="flex flex-row items-center justify-between w-full">
    <div class="flex-none items-center justify-start max-w-fit font-logo tracking-[-0.12rem] font-[700] text-3xl"><a href="/">pugburps</a></div>
    <div class="grow w-full items-center justify-center max-w-[50%]">
    <form class="relative">
        <div class="border-b border-[#aaaaaa]">
        <input type="text" onblur="if(this.value == '') { this.value = 'search for something'; }" value="search for something" onfocus="if(this.value == 'search for something') { this.value = ''; }" value="search for something" class="w-full block h-[2rem] leading-[2rem] p-0 m-0 border-0 w-full" autocomplete="off"/>
    </div>
    <button class="cursor-pointer p-0 leading-0 absolute right-0 top-0 " type="submit">
        <svg class="icon-search" width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-816.000000, -36.000000)" stroke="currentColor"><g transform="translate(817.000000, 37.000000)"><g transform="translate(0.360000, 0.000000)"><circle stroke-width="2" cx="7.5" cy="7.5" r="7.5"></circle><line x1="12.7618408" y1="12.7618408" x2="17.7115883" y2="17.7115883" stroke-width="2"></line></g></g></g></g></svg>
    </button>
    </form>
    </div>
    <div class="flex items-center justify-end max-w-fit">
        <div class="categories mr-6">
            <div class="text-xs px-4 py-2 bg-gray-100 inline-block cursor-pointer">
                Categories
                <span class="ml-2 inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M169.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 274.7 54.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
                </span>
            </div>
        </div>
        <div class="menu">
        <div class="space-y-1 cursor-pointer">
            <div class="w-8 h-0.5 bg-gray-500"></div>
            <div class="w-8 h-0.5 bg-gray-500"></div>
            <div class="w-8 h-0.5 bg-gray-500"></div>
          </div>
        </div>
    </div>
</div>
</section>