---
import FeaturedCard from './FeaturedCard.astro';
---
<div class="grid grid-cols-1 lg:grid-cols-8 lg:grid-rows-1 lg:gap-20 min-h-[50vh] h-full w-full lg:mb-16">
    <div class="left-copy lg:grid col-span-3 order-2 h-full mt-8 lg:mt-0">
        <FeaturedCard />
    </div>
    <div class="right-copy lg:grid col-span-5 order-1 h-full">
        <img src="http://picsum.photos/600/400" class="image" />
    </div>
</div>