---
import stylesUrl from '../styles/global.css?inLine';
import "@fontsource/plus-jakarta-sans";
import Header from '../components/Header.astro';

const { content } = Astro.props;
const { title } = content;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href={stylesUrl}>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body>
<Header />
<div>
    <section class="post bg-gray-100 block">
<slot />
    </section>
    </div>
</body>
</html>
